<!DOCTYPE html>
<html lang="en">
<head th:insert="navbar.html"></head>
<body>
<div class="container" style="justify-content: center">
  <div class="alert alert-danger" role="alert" th:if="${param.oldPasError!=null}">
    Incorrect old password
  </div>
  <div class="alert alert-danger" role="alert" th:if="${param.passwordError!=null}">
    Incorrect new password
  </div>
  <div class="alert alert-success" role="alert" th:if="${param.success!=null}">
    Password changed successfully
  </div>
  <form th:action="@{'/to-update-password'}" method="post">
    <div class="form-group">
      <label for="exampleInputPassword0">Old password</label>
      <input type="password" class="form-control" name="user_old_password" id="exampleInputPassword0" placeholder="Enter old password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">New password</label>
      <input type="password" class="form-control" name="user_new_password" id="exampleInputPassword1" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword2">Repeat new password</label>
      <input type="password" class="form-control" name="user_repeat_new_password" id="exampleInputPassword2" placeholder="Enter repeat new password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Change password</button>
  </form>
</div>
</body>
</html>